
$ColorPrimario:  #000000;
body {

	font-family: "Roboto", sans-serif;
	background-color: $ColorPrimario;
	max-width: 100%;
	margin: 0%;	
	padding: 0%;


	
}
.navbar {
  background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-brand img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.custom-carousel {
  max-width: 68%; /* Ajusta este valor según tus necesidades */
  margin: 0 auto; /* Centra el carrusel horizontalmente */
}

.carousel-image {
  border-radius: 15px; /* Ajusta el valor para los bordes redondeados */
  height: 700px; /* Ajusta la altura para dispositivos grandes */
}

@media (max-width: 768px) {
  .carousel-image {
    height: 300px; /* Ajusta la altura para dispositivos pequeños */
  }
}
#quienes-somos {
  color: white;
}
.navbar-brand img {
	width: 55px;
	height: auto;
}

.carousel-item img {
	width: 90%;
	height: auto;
}

.container h3 {
	font-weight: 300;
	color: white;
}

.container h4 {
	font-weight: 300;
	color: white;
}

.p-color {
	font-size: 16px;
	color: white;
	
}

.icono-blanco {
    color: white;
}

.img-fija {
    width: 100%;
    height: 200px;
    object-fit: cover;
}




  #contacto {
    color: white;
  }
  .img-fluid {
  width: auto;
  height: 350px;
  border-radius: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }


  .destacado {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    color: #000000;
  }
  .destacado-item {
    width: 48%;
    background-color:white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
  }
  .destacado-item img {
    width: 60%;
    height: 200px;
    object-fit: cover;
  }
  .destacado-info {
    width: 40%;
    padding: 10px;
  }
  .destacado-info h3 {
    margin-top: 0;
    font-size: 18px;
    color: black;
  }
  .destacado-info p {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .destacado-info .vuelos {
    font-weight: bold;
    font-size: 16px;
  }
  .precio-info{
    display: flex;
    align-items: center;
    .precio-text{
      margin: 0;
    }
  }

  @media (max-width: 768px) {
    .destacado {
      flex-direction: column;
    }
    .destacado-item {
      width: 100%;
      margin-bottom: 20px;
      flex-direction: column;
    }
    .destacado-item img {
      width: 100%;
      height: auto;
    }
    .destacado-info {
      width: 100%;
    }
  }
 

  .container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .person {
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
  }
  
  .person__text {
    padding: 20px;
    font-size: 16px;
    color: wheat;
    opacity:40%;
  }
  
  .person__image {
    width: 10%;
    height: 30px;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .person__name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
  }


  